#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  border: black solid 3px;
  width: 300px;
  padding: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  &__name{
    font-size: 20px;
    text-align: start;
  }
  &__date {
    font-size: 10px;
    text-align: start;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo-Ej1 {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    width: 80px;
    margin-right: 10px;
  }
}

.text {
  text-align: start;
}
.moretext {
  margin-top: 10px;
}
.reading {
  color: grey;
}
