.header {
  border: 2px black solid;
  background-color: antiquewhite;
}
.hero {
  border: 2px black solid;
  background-color: blue;
}
.c {
  border: 2px black solid;

.footer {
  border: 2px black solid;
  background-color: antiquewhite;
}
