* {
  border: 2px solid black;
  box-sizing: border-box;
}

.container {
  /*display: flex;*/
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  display: inline-flex;
  border: blueviolet 5px solid;
  flex-direction: column;
}
.cabecera {
  width: 320px;
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  background-color: #099d8d;
}

.menu {
  width: 320px;
  height: 45px;
  margin: 0px 0 0;
  padding: 8px 17px 7px 16px;
  opacity: 0.9;
}
