body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20vh 1fr 20vh;
}

.item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  background: pink;
  grid-column: 1/13;
  /* grid-column: span 12; */
}
.item2 {
  background: purple;
  grid-column: 1/5;
}
.item3 {
  background: salmon;
  grid-column: 5/13;
}
.item4 {
  background: skyblue;
  grid-column: span 12;
}
