body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  grid-gap: 5px;
}

.item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  background: rgb(247, 165, 209);
  grid-column: 1/13;
}
.item2 {
  background: rgb(169, 20, 255);
  grid-column: 1/5;
}
.item3 {
  background: rgb(255, 20, 20);
  grid-column: 5/13;
}
.item4 {
  background: rgb(102, 206, 238);
  grid-column: span 12;
}
